/* Write your code here. */
body {
  margin: 0px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 28px;
  font-family: "Bree Serif";
}

.button {
  border-width: 0px;
  border-radius: 10px;
  font-size: 13px;
  font-family: "Roboto";
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px;
}
.button-1 {
  background-color: #eab308;
}

.button-2 {
  color: #323f4b;
  background-color: #ffffff;
}

.button-3 {
  background-color: #1d4ed8;
}

@media (min-width: 768px) {
  .heading {
    font-size: 60px;
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
